.main_header_container {
    width: 100%;
    height: 600px;
    padding: 100px;
    background-image: url(../img/sony_main.jpg);
}

.main_header_info {
    /* border: 1px solid tomato; */
    width: 500px;
    /* width: calc(400px + 10%); */
    /* padding: 0 19%; */
    margin-left: 300px;
    margin-top: 160px;
}

.main_header_title {
    /* border: 1px solid tomato; */
    display: block;
    width: 385px;
    color: #fff;
}

.main_header_text {
    display: block;
    /* border: 1px solid tomato; */
    width: 500px;
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 50px;
    color: #fff;
}

.main_header_item a {
    display: block;
    width: 116px;
    height: 41px;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    background-color: #5865f5;
    border: 1px solid #5865f5;
    color: #fff;
}

.main_header_item a:hover {
    background-color: #4747d1;
    border: 1px solid #4747d1;
}

/*hot_section 메뉴*/
.hot_section {
    background-color: #fff;
}

.hotsection_title {
    /* border: 1px solid red; */
    display: block;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px 20px 30px 5px;
}

.hot_info_section {
    /* border: 1px solid red; */
    display: block;
    width: 1200px;
    height: 680px;
    margin: 0 auto;
    background-color: #fff;
}

.hot_product_box1 {
    background-color: #4f6b85;
    border: 1px solid #4f6b85;
    display: block;
    width: 462px;
    height: 294px;
    position: relative;
}

.hotproduct_text {
    /* border: 1px solid red; */
    display: block;
    color: #fff;
    font-size: 24px;
    padding: 20px 50px;
}

.store_box {
    /* border: 1px solid red; */
    display: block;
    left: -20px;
    width: 168px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #fff;
    position: relative;
    bottom: -80px;
    margin: 20px 70px;
}

.store_box a {
    /* border: 1px solid red; */
    color: #4f6b85;
    font-size: 13px;
    padding: 20px;
    position: absolute;
    margin: 0 auto;
    bottom: -10px;
    left: 5px;
    float: left;
}

.hot_product_box2 {
    /* border: 1px solid red; */
    display: block;
    width: 219px;
    height: 294px;
    position: relative;
    margin: 0 auto;
    float: left;
    bottom: -20px;
    background: url(../img/sbox2.jpg)no-repeat;
}

.hot_product_sbox2 {
    /* border: 1px solid blue; */
    width: 219px;
    height: 85px;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
}

.hot_product_box3 {
    /* border: 1px solid red; */
    display: block;
    width: 219px;
    height: 294px;
    position: relative;
    margin: 0 auto;
    float: left;
    left: 23px;
    bottom: -20px;
    background: url(../img/sbox3.jpg)no-repeat;
}

.hot_product_sbox3 {
    /* border: 1px solid blue; */
    width: 219px;
    height: 85px;
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
}

.hot_product_box4 {
    /* border: 1px solid red; */
    display: block;
    width: 219px;
    height: 294px;
    position: relative;
    margin: 0 auto;
    top: -295px;
    background: url(../img/sbox4.jpg)no-repeat;
}

.hot_product_sbox4 {
    /* border: 1px solid blue; */
    width: 219px;
    height: 85px;
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
}

.hot_product_box5 {
    /* border: 1px solid red; */
    display: block;
    width: 219px;
    height: 294px;
    position: relative;
    margin: 0 auto;
    top: -274px;
    background: url(../img/sbox5.jpg)no-repeat;
}

.hot_product_sbox5 {
    /* border: 1px solid blue; */
    width: 219px;
    height: 85px;
    position: absolute;
    bottom: 50px;
}

.hot_product_box6 {
    /* border: 1px solid red; */
    display: block;
    width: 440px;
    height: 440px;
    position: relative;
    float: right;
    left: -20px;
    background: url(../img/sbox6.jpg)no-repeat;
    top: -885px;
}

.hot_product_sbox6 {
    /* border: 1px solid blue; */
    width: 440px;
    height: 85px;
    position: absolute;
    bottom: -1px;
}

.new_click {
    display: block;
    width: 53px;
    height: 25px;
    position: absolute;
    background-color: #167f57;
    color: #fff;
    font-size: 10px;
    right: -1px;
    padding: 3px 10px;
}

.hotitem_text1 {
    display: block;
    font-size: 14px;
    color: #2f353d;
}

.hotitem_text2 {
    display: block;
    font-size: 13px;
    color: #2f353d;
}

.hotitem_text3 {
    display: block;
    font-size: 16px;
    color: #2f353d;
}

/*new_section 메뉴*/
.new_section {
    display: block;
    width: 100%;
    height: 602px;
    padding: 30px;
}

.newsection_title {
    display: block;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.new_info_section {
    display: block;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.new_product_box1 {
    width: 358px;
    height: 390px;
    position: absolute;
    left: 30px;
    background: url(../img/new_item1.jpg)no-repeat;
    margin-left: -30px;
}

.new_product_box2 {
    display: block;
    width: 358px;
    height: 390px;
    position: absolute;
    left: 420px;
    background: url(../img/new_item2.jpg)no-repeat;
    margin-left: -30px;
}

.new_product_box3 {
    display: block;
    width: 358px;
    height: 390px;
    position: absolute;
    left: 810px;
    background: url(../img/new_item3.jpg)no-repeat;
    margin-left: -30px;
}

.new_product_textbox {
    display: block;
    width: 358px;
    height: 140px;
    bottom: -1px;
    background-color: #212530;
    position: relative;
    bottom: -250px;
}

.new_product_textbox a {
    color: #fff;
    font-size: 10px;
    padding: 8px;
    position: absolute;
    float: left;
    bottom: 20px;
    padding: 8px 16px;
    margin: 3px;
}

.new_product_textbox p {
    color: #bcbccc;
    font-size: 20px;
    position: absolute;
    width: 300px;
    margin: 20px;
}

