/*main_slide_container 메뉴*/

.main_slide_container {
  /* border: 1px solid blue; */
  margin-top: 98px;
  overflow: hidden;
  margin-top: 30px;
}

.main_slide_container>h2 {
  /* background-color: red; */
  display: block;
  width: 1200px;
  margin: 0 auto;
}

/* slide_info_box.bxSlider 메뉴 */
.main_slide_container .bx-wrapper {
  max-width: 100% !important;
  border: none;
  box-shadow: none;
}

.slide_info_box img {
  width: 100%;
  /* border: 1px solid blue; */
  display: block;
}
.slide_info_box>li {
  position: relative;
}
.slide_info_box>li>div {
  position: absolute;
  /* border: solid 1px red; */
  background-color: #2f353d;
  width: 380px;
  padding: 10px;
  bottom:0;
  left:0;
  height:136px;
}

.slide_info_box>li>div>dt {
  color: #fff;
  font-size: 12px;
  padding: 10px;
  margin-left: 40px;
}

.slide_info_box>li>div>dd {
  color: #fff;
  font-size: 24px;
  padding: 3px;
  margin-left: 40px;
}